:root {
    --main-color: #303030;
    --secondary-color: #9DA4BD;
    --hover-color: #FF6C00;
    --header-color: #ffffff;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0px;
    padding-left: 0px;
}

.container {
 width: 1200px;
 padding: 0px 15px;
 margin: 0px auto;   
}

img {
    display: block;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}

body {
    font-family: "open sans", sans-serif;
}

header {
    background-color: #9e9b9b;
}
/* ------------------header------------------------ */

header .container {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    margin-left: 131px;
    
}
.header-logo {
    padding: 32px 0;
}

.nav-item:not(:last-child) {
    margin-right: 30px;
}
.nav-menu .link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-color);
}

.nav-menu .link:hover,
.nav-menu .link:focus {
    color: var(--hover-color);
}

.telephone {
    margin-left: 254px;
    margin-right: 40px;

    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: var(--header-color);
}

.header-btn {
    padding: 12px 20px;


    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #FF6C00;
    border-radius: 25px;
}

.header-btn:hover,
.header.btn:focus {
    color: var(--header-color);
    background-color: var(--hover-color);
}

/* -----------------HERO-------------------------- */
.hero {
background-color: #3b57bb;
padding: 70px 0 208px;

}

.hero-cont {
    padding: 184px 526px 208px 100px;
}
.pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
}

.title {
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em
}

.after-title {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}
.hero-pre-title {
    margin-bottom: 20px;
    color: rgba(157, 164, 189, 0.6);
}

.main-title {
    margin-bottom: 20px;
    
    font-family: 'Raleway', 'sans-serif'; 
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 0.05em;
    color: var(--header-color);
}
.hero-after-title {
    max-width: 360px;
color: #9DA4BD;   
}
.hero-social-media .link {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
    color: var(--main-color)
    
}
.hero-social-media .link:hover {
    color: var(--hover-color);
}

.hero-navigation {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: var(--header-color)
}
.hero-navigation .back {
    color: rgba(157, 164, 189, 0.6);
}

/* ------------about----------------- */
.about {
    padding: 120px 0;
}


.about .list {
    display: flex;

}
.about-pre-title {
    margin-bottom: 20px;

    text-transform: uppercase;
    color: var(--main-color)
}


.list li {
    margin-right: 30px;
}
.about-title {
    margin-bottom: 20px;
    color: var(--main-color)
}
.about-after-title {
    margin-bottom: 20px;
    color: #555555;
}

.about-text {
    margin-bottom: 42px;
    
}
.about-btn {
    display
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #303030;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    background: var(--header-color);
    height: 40px;
    min-width: 160px;
}

.about-btn:hover,
.about-btn:focus  {
    color: var(--header-color);
    background-color: var(--hover-color);
}
/* -------------price------------ */
.price {
    padding: 120px 0;
}

.price-pre-title {
    margin-bottom: 20px;
    color: rgba(157, 164, 189, 0.6);
}
.price-title {
    margin-bottom: 44px;
    color: #FFFFFF;
    background-color: #555555;
}

.price-list {
    border: 1px solid;
    padding: 30px 20px;


    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.prices-items {
    margin-bottom: 20px;
}

.price .header-btn {
    margin: 44px auto 0;
    display: block;
    
}
/* -------------benefits------------ */
.benefits {
    padding: 120px 0px;
}
.benefits-item {
    width: 170px;
    height: 133px;
    background-color: #F7F7F7 ;
    padding: 20px 24px;
    text-align: center;
}
.number-customer {
    display: inline-block;

    font-weight: 700;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
}
.symbol-customer {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FF6C00;
}
.customer-advantages {
    text-align: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #303030;
}
.customer-advantages-pre-title {
        margin-bottom: 20px;
        color: #303030;
}

.customer-advantages-title {
    margin-bottom: 20px;
}
.whywe-title {
        color: #303030;
}
.customer-advantages-after-title {
    color: #555555;
}
.whoweare {
    margin-bottom: 20px;
    color: #303030;
}

.whoweare-title {
    margin-bottom: 44px;
    color: #303030;
}
/* ------------barbers---------- */
.barbers {
    padding: 120px 0px;
    
}

.barbers-title {
    margin-top: 30px;
    margin-bottom: 8px;


    font-weight: 400;
    font-size: 18px;
    line-height: 25px

}
.barber-after-title {
    font-size: 14px;
    line-height: 1.36;
    color: #FF6C00;
}
.history-descr {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #303030;
}

.barbers-social .barbers-social-media:hover {
    color: var(--hover-color);
}

.whoweare-social {
    color: none;
}

.whoweare-social:hover {
    color: var(--hover-color);
}
/* ------------gallery--------- */
.gallery {
    padding: 120px 0;
}

.gallery-descr {
    margin-bottom: 44px;
}
.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
}
.contacts {
    background-color: #161010;
}

.contacts-title {
    color: #FFFFFF
}

.contacts-list {}

.contacts-address a {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    font-style: normal;
}

.contacts-telephone a,
.contacts-email a {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.contacts-email a {
    text-decoration: underline;
}
.contacts-pre-title {
color: #FFFFFF;
}

.contacts-after-title {
 color: #9DA4BD;
}

/* ------------footer--------- */
.footer {
    padding: 56px 0;
    background-color: #F7F7F7;
}

.copy {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
    color: #9DA4BD;
}

.footer-list a {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
    color: #303030;
}
.footer-list a:hover,
.footer-list a:focus {
    color: var(--hover-color);
}
