.contacts {
    background-image: url(../Images/Bg-prices-png.png);

    padding: 130px 0 120px 100px;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(50% - 15px);
}

.contacts .container {
    padding: 0;
}

.contacts-title {
    color: #FFFFFF;
    margin-bottom: 40px;
}

.contacts-address {
    display: flex;

}

.address-icon {
    margin-right: 16px;

}

.contacts-address>address {
    @include font(18, 700, 1.67, 0.02);
    color: #9DA4BD;
    font-style: normal;
}

.contacts-item {
    @include font(18, null, 1.67, 0.02);
    color: #9DA4BD;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.contacts-item:last-child {
    margin-bottom: 70px;
    text-decoration: underline;
}

.contacts-pre-title {
    color: #FFFFFF;
    margin-bottom: 20px;
}

.contacts-after-title {
    color: #9DA4BD;
}

.contacts-form-wrap {
    background-color: #191C26;
}

.contacts-form-wrap>.container {
    display: flex;
}

.contacts>.container>.pre-title::before {
    background-color: rgba(157, 164, 189, 0.4);
}